image = "/capstor/store/cscs/swissai/infra01/containers/nvidia+nemo+25.11.sqsh" # "nvcr.io#nvidia/nemo:25.11"

mounts = [
    "/users/${USER}",
    "/capstor/scratch/cscs/${USER}",
    "/iopsstor/scratch/cscs/${USER}",
    "/capstor/store/cscs/swissai/infra01",
    "/capstor/store/cscs/swissai/a06",
    "/capstor/store/cscs/swissai/infra01/containers/nemo_container_extra_files/ofi_plugin/libnccl-net.so.v1.17.2-cuda.so:/opt/hpcx/nccl_rdma_sharp_plugin/lib/libnccl-net.so"
]

writable = true

[annotations]
com.hooks.aws_ofi_nccl.enabled = "true"
com.hooks.aws_ofi_nccl.variant = "cuda13"
com.hooks.cxi.enabled.workaround = "true"

[env]
CUDA_CACHE_DISABLE = "1"
NCCL_NET = "AWS Libfabric"
NCCL_CROSS_NIC = "1"
NCCL_NET_GDR_LEVEL = "PHB"
FI_CXI_DISABLE_HOST_REGISTER = "1"
FI_MR_CACHE_MONITOR = "userfaultfd"
FI_CXI_DEFAULT_CQ_SIZE = "131072"
FI_CXI_DEFAULT_TX_SIZE = "32768"
FI_CXI_RX_MATCH_MODE = "software"
FI_CXI_SAFE_DEVMEM_COPY_THRESHOLD = "16777216"
FI_CXI_COMPAT = "0"
