image = "jfrog.svc.cscs.ch/docker-group-csstaff/alps-images/ngc-pytorch:25.12-py3-alps1"

mounts = [
    "/users/${USER}",
    "/capstor/scratch/cscs/${USER}",
    "/iopsstor/scratch/cscs/${USER}",
    "/capstor/store/cscs/swissai/infra01",
    "/capstor/store/cscs/swissai/a06",
    "/capstor/store/cscs/swissai/infra01/containers/nemo_container_extra_files/ofi_plugin/libnccl-net.so.v1.17.2-cuda.so:/opt/hpcx/nccl_rdma_sharp_plugin/lib/libnccl-net.so"
]

writable = true

[env]
PMIX_MCA_psec="native"

[annotations]
com.hooks.cxi.enabled="false"