image="/capstor/store/cscs/swissai/infra01/containers/ngc-25.12.sqsh"
mounts = [
  "/capstor/scratch/cscs/${USER}:/capstor/scratch/cscs/${USER}",
  "/iopsstor/scratch/cscs/${USER}:/iopsstor/scratch/cscs/${USER}",
  "/capstor/store/cscs/swissai/a06:/capstor/store/cscs/swissai/a06",
  "/capstor/store/cscs/swissai/infra01:/capstor/store/cscs/swissai/infra01"
]

writable = true

workdir = "${PWD}"

[env]
PMIX_MCA_psec="native"

OMPI_MCA_btl="^tcp,ofi,vader"
OMPI_MCA_pml="cm"
OMPI_MCA_mtl="ofi"
OMPI_MCA_opal_common_ofi_provider_include="cxi"

CUDA_CACHE_DISABLE="1"

NCCL_VERSION="2.29.2-1"
NCCL_NET="AWS Libfabric"
NCCL_CROSS_NIC="1"
NCCL_P2P_LEVEL="NVL"
NCCL_NET_GDR_LEVEL="PHB"
NCCL_NET_GDR_C2C="1"
NCCL_NET_GDR_READ="1"
NCCL_PROTO="^LL128"
NCCL_NCHANNELS_PER_NET_PEER="4"

FI_PROVIDER="cxi"
FI_CXI_DEFAULT_CQ_SIZE="131072"
FI_CXI_DEFAULT_TX_SIZE="32768"
FI_CXI_DISABLE_HOST_REGISTER="1"
FI_CXI_RX_MATCH_MODE="software"
FI_MR_CACHE_MONITOR="userfaultfd"
#FI_LOG_LEVEL="trace"
#FI_HMEM_CUDA_USE_GDRCOPY="1"


[annotations]
com.hooks.cxi.enabled="false"

